@import "../../resources/Theme.scss";

.column-background {
  height: 100%;
  width: 100%;
  @include theme() {
    background-color: themed("primary-color");
  }
}

.row-background {
  height: 100%;
  width: 100%;
  @include theme() {
    background-color: themed("primary-color");
  }
}
